/Action.class
/ActionType.class
/Color.class
/Frontier.class
/FrontierBFS.class
/FrontierBestFirst.class
/FrontierDFS.class
/Heuristic.class
/HeuristicAStar.class
/HeuristicGreedy.class
/HeuristicWeightedAStar.class
/Memory.class
/NotImplementedException.class
/SearchClient.class
/State.class
/Heuristic$Node.class
